.video {
    height: 200px;
    width: 300px;

}



td,
th {
    font-size: 40px;
    border: 2px solid lightblue;
    padding: 0px 10px;
}

table {
    border-collapse: collapse;
    margin: 10% 0% 0% 32%;


}